.settingsPageWrapper {
    padding: 2.5%;

    ion-list {
        background: transparent !important;
        color: whitesmoke;

        ion-label {
            color: whitesmoke;
        }
    }
    //--background: #173847;

    ion-item {
        --background: transparent;
        --border-color: #86C3DF;
        --padding-start: 0;
        color: whitesmoke;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover: transparent;

        ion-label {
            font-size: 12px !important;
            font-weight: bold;
            //text-transform: uppercase;
        }
    }

    ion-item:hover, .item-radio-checked {
        --color: #0cd1e8;
        color: #0cd1e8;
    }
}