<div class="settingsPageWrapper">
  <ion-list>
    <ion-radio-group value="gringo" (ionChange)="changeTheTime($event.detail.value)">
      <ion-list-header>
        <ion-label>
          Time
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>AM/PM</ion-label>
        <ion-radio value="gringo"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>24 Hs</ion-label>
        <ion-radio value="world"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</div>
