  <ion-card>
    <ion-card-content mode="ios">

      <form class="addEventForm" (ngSubmit)="addEvent()" #addEventForm="ngForm">

      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input [(ngModel)]="event.title" name="title" type="text" required minlength="2" maxlength="50" #title="ngModel"></ion-input>
        </ion-item>
        <div class="formAlert" *ngIf="title.errors && (title.dirty || title.touched)">
          <div [hidden]="!title.errors.required">
              The title is required
          </div>
          <div [hidden]="!title.errors.minlength">
            The title must have a minimum of 2 characters
          </div>
        </div>

      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea name="desc" [(ngModel)]="event.desc"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Location</ion-label>
        <ion-input name="loc" [(ngModel)]="event.loc"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"> Starts </ion-label>
            <ion-datetime (ionChange)="dataSelected($event)" displayFormat="MMM D, YYYY HH:mm" pickerFormat="MMM D, YYYY HH:mm" [(ngModel)]="event.startTime" name="inputStart" id="inputStart" #inputStart required></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Ends</ion-label>
            <ion-datetime displayFormat="MMM D, YYYY HH:mm" pickerFormat="MMM D, YYYY HH:mm" [(ngModel)]="event.endTime"  name="inputEnd"  id="inputEnd" #inputEnd required></ion-datetime>
            </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>All Day?</ion-label>
            <ion-toggle name="allDay" [(ngModel)]="event.allDay" [checked]="true" color="secondary"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col>
          <ion-item>
            <ion-label>Remind me</ion-label>
            <ion-toggle [disabled]="reminderSelectBoo" name="remindMe" [(ngModel)]="event.remindMe" [checked]="false" color="secondary"></ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="event.remindMe">
          <ion-item >
            <ion-select [value]="this.reminderVal" (ionChange)="reminderSelect($event.detail.value)" class="reminderSelect" mode="ios" interface="popover" placeholder="Select a reminder">
              <ion-select-option value="r1">At time of the event</ion-select-option>
              <ion-select-option value="r2">5 min before</ion-select-option>
              <ion-select-option value="r3">15 min before</ion-select-option>
              <ion-select-option value="r4">1 hour before</ion-select-option>
              <ion-select-option value="r5">1 day before</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      
      

      <ion-item detail (click)="chooseTag()">
        <ion-label>Tag</ion-label>
        <div class="calendTags">
          <div class="tagCircleColor" [style.background]='tagEvent.color'></div>
          <div class="tagName">{{tagEvent.name}}</div>
        </div>
      </ion-item>

      <ion-button *ngIf="!editMode" [disabled]="!addEventForm.form.valid" class="btnCreateEvent" fill="none" clear expand="block" (click)="addEvent()">Create</ion-button>
      <ion-button *ngIf="editMode" [disabled]="!addEventForm.form.valid" class="btnCreateEvent" fill="none" clear expand="block" (click)="saveEditEvent()">Save</ion-button>
   </form>

    </ion-card-content>
  </ion-card>

