<div class="todoSliderWrapper">
  <ion-slides #slides pager [options]="slideOpts">

    <!-- <ion-slide class="taskListSlide" *ngFor="let todosIndexList of todosIndex; let i = index; trackBy:identify"> -->
    <ion-slide class="taskListSlide" *ngFor="let todosIndexList of todosIndex; let i = index">
      <!-- <div class="taskWrapper" *ngIf="!newList || i != 0" [style.background]='todosIndexList.color' (click)="openTaskList(todosIndexList)"> -->
      <div class="taskWrapper" *ngIf="!newList || i != 0" [style.background]='todosIndexList.color' (click)="openTaskList(todosIndexList)">
        <!-- <div class="actionBtnTasksLists">
          <img src="assets/icons/threeDots.svg" />
        </div> -->
        <div class="infoTask" >     
          <h1 class="todoNameList">{{todosIndexList.nameList}}</h1>
          <h4 class="todoTaskLength" *ngIf="todosIndexList.task.length > 1 || todosIndexList.task.length == 0">{{todosIndexList.task.length}} Tasks</h4>
          <h4 class="todoTaskLength" *ngIf="todosIndexList.task.length == 1">{{todosIndexList.task.length}} Task</h4>
        </div>
        <div class="percentCompleted">
          <div class="progressBar">
            <div class="progress-outer">
             <!-- <div class="progress-inner" [style.width]="balloon.speed + '%'"></div> -->
             <div class="progress-inner"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="taskWrapper" *ngIf="newList && i === 0" [style.background]='newTagColor'>
      <!-- <div class="taskWrapper" *ngIf="newList" [style.background]='newTagColor'> -->
        <div class="infoTask">     
          <ion-input autofocus="true" placeholder="New List" class="todoNewListH1" [(ngModel)]="createTaskList.name"></ion-input>
          <div class="colorTaskList">
            <ion-row class="colorRow">
              <ion-col *ngFor="let color of tagsColors">
                <a class="circleTaskColor" [style.background]="color.color" (click)="colorTaskList(color.color)" [ngClass]="{'colorActive': newTagColor === color.color }"></a>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <div class="saveNewTaskList">
          <ion-button class="btnAddNewList" fill="none" clear (click)="storeNewList(createTaskList)">
           Add New List
          </ion-button>
        </div>
      </div>
      

    </ion-slide>

  </ion-slides> 

  <!-- <div class="addToDoListBtn">
    <ion-button class="loginBlock" fill="none" clear (click)="createNewList()">
      New List
    </ion-button>
  </div> -->

  <!-- <ion-fab *ngIf="!newTaskList" vertical="bottom" horizontal="end" slot="fixed" (click)="createNewList()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</div>

<div class="insideTaskWrapper"  *ngIf="openTaskView">
  <div *ngIf="!listTitileEdit" class="headerTasks" [style.background]='taskOpen.color'>
    <div class="infoTask" >     
      <h4 class="todoTaskLength" *ngIf="taskOpen.task.length > 1 || taskOpen.task.length == 0">{{taskOpen.task.length}} Tasks</h4>
      <h4 class="todoTaskLength" *ngIf="taskOpen.task.length == 1">{{taskOpen.task.length}} Task</h4>
      <h1 class="todoNameList" >{{taskOpen.nameList}}</h1>
    </div>
    
    
    <div class="actionBtnTasksLists">
      <!-- <img (click)="deleteTaskList(taskOpen)" src="assets/icons/threeDots.svg" /> -->
      <img (click)="tasksOptionsPopover($event, taskOpen)" src="assets/icons/threeDots.svg" />
      <!-- <ion-icon name="trash-outline" slot="end" (click)="deleteTaskList(taskOpen)"></ion-icon> -->
    </div>
  </div>
  <div *ngIf="listTitileEdit" class="headerTasks editTaskList" [style.background]='newTagColor'>
    <div class="colorTaskList">
      <ion-row class="colorRow">
        <ion-col *ngFor="let color of tagsColors">
          <a class="circleTaskColor" [style.background]="color.color" (click)="colorTaskList(color.color)" [ngClass]="{'colorActive': newTagColor === color.color }"></a>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <div class="infoTask" >
        <ion-input autofocus="true" class="todoNewListH1 editNameList" [(ngModel)]="createTaskList.name"></ion-input>
      </div>
      <div class="okConfirmEdit">
        <ion-fab-button class="okConfirmButton" (click)="saveEditList(createTaskList)">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
      </div>
  </ion-row>
  </div>


  
  
  <!-- <div class="infoTask" *ngIf="!newTaskList">      -->
  
  
  <div class="infoTask newTask" *ngIf="newTaskList || todoSources.length == 0">
    <!-- <h4 class="todoTaskLength">12 Tasks</h4>
    <h1 class="todoNameList">{{createTask?.name}}</h1> -->
    <ion-item>
      <!-- <ion-label position="floating">List Name</ion-label> -->
      <ion-input autofocus="true" placeholder="New Task" class="inputNewTag" [(ngModel)]="createTask.name"></ion-input>
      <ion-button *ngIf="createTask.name != ''" class="btnAddTask" fill="none" clear (click)="storeTask(createTask.name, taskOpen)"> Add</ion-button>
    </ion-item>     
    
  </div>

  <ion-list *ngIf="todoSources.length != 0">

    <!-- <ion-item>
      <ion-button class="btnAddTask" fill="none" clear expand="block" (click)="storeTask()"> + Add New Task</ion-button>
    </ion-item> -->
    <!-- <ion-item-sliding *ngFor="let task of toDosOpen.task"> -->
      <ion-item *ngFor="let task of todoSources; let i = index"> 
        <div class="checkboxConteiner">
          <!-- <ion-checkbox checked="task.isChecked" (click)="storeTaskCompleted(task, taskOpen, task.isChecked)" mode="ios" slot="start" [(ngModel)]="task.isChecked"></ion-checkbox> -->
          <ion-checkbox (click)="storeTaskCompleted(task, i, taskOpen, task.isChecked)" mode="ios" slot="start" [(ngModel)]="task.isChecked"></ion-checkbox>
        </div>
        <ion-label [ngClass]="{'cheked': task.isChecked }">{{task.task}}</ion-label>
        <!-- <ion-icon  name="information-circle-outline" slot="end" (click)="slidingItem.open()"></ion-icon> -->
        <!-- <ion-icon  name="information-circle-outline" slot="end"></ion-icon> -->
        <ion-icon *ngIf="task.isChecked" name="trash-outline" slot="end" (click)="deleteTask(task, i, taskOpen)"></ion-icon>
        <!-- <ion-icon  name="close-circle-outline" slot="end" (click)="deleteTask(task, i, taskOpen)"></ion-icon> -->
      </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="openTaskView" (click)="newTask()">
  <ion-fab-button  class="bgFabAdd">
      <ion-icon name="add" mode="ios"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>