/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

 $blueSemiDark: #193354;
 $whiteSmoke: whitesmoke;
 $blueDark: #09121F;
 $linkBlueClear: #86C3DF; 
 $linkBlueClear2: #0cd1e8; 
 $modalDarkBg: #09121F;
 $footerBg: #3A404A;
 $blueTasks: #2A6682;
 $blueDarkTwo: #173847;
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "app/add-event/picker.min.css";

.swiper-pagination-bullet-active {
    background: whitesmoke !important;
}

#todayPage, #calendarPage, #tasksPage, .eventDetailScreen, #settingsPage {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.button-solid.activated, .button-solid {
    --box-shadow: none !important;
}

#dayViewCalendar {
    ion-slides {
        display: none !important;
    }

    .monthview-container {
        height: initial !important;
    }
}

ion-toolbar {
    --background: #173847 !important;
    --border-width: 0 !important;
    --border-color: none !important;
    color: $whiteSmoke;

    ion-title {
        color: $whiteSmoke !important;
    }
}

ion-backdrop {
    --backdrop-opacity: .25 !important;
}

ion-item-option, ion-activated {
    --background: none !important;
    --ion-item-background-activated: none;
    --background-activated: none;
    background: none;
}


// .popover-viewport{
//     --width: 140px !important;

//     button {
//         width: 80%;
//         /* border-bottom: 0; */
//         text-transform: uppercase;
//         font-size: 16px;
//         font-weight: 500;
//         color: #444;
//     }

//     button:last-of-type {
//         border: 0 !important;
//     }

//     .input-wrapper {
//         justify-content: right !important;
//     }
// }
.addEventBtn {
    img {
        max-height: 24px;
        transition: ease-in-out;
        transition-duration: .35s;
    }

    span {
        font-size: 50px;
        font-weight: lighter;
        transition: ease-in-out;
        transition-duration: .35s;
    }

    .openAddEvent {
        transform: rotate(0deg);
        color: #0cd1e8;
        //transition: 1 ease-in-out;
    }
    .closeAddEvent {
        transform: rotate(45deg);
        color: aquamarine;
        //transition: 1 ease-in-out;
        
    }
}

#mainFooter {
    background:  $blueTasks;
    border: none !important;
    height: 50px;
    //opacity: .9;

    ion-grid {
        padding: 0;
    }

    ion-col {
        text-align: center;
    }

    .tabMenuLink {
        font-size: 11px;
        //color: $linkBlueClear2;
        color: $whiteSmoke;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -.5px;
        display: flex;
        flex-flow: column;
        align-items: center;

        .icon {
            width: 25px;
            height: 25px;
        }
    }
    
    .tabMenuLinkActive {
        color: #50E3C2;
        font-weight: bold;
    }

    .calendarMenu {
        .icon {
            background: url('assets/icons/footer/calendar-white.svg') no-repeat center center;
        }
    }
    .tasksMenu {
        .icon {
            background: url('assets/icons/footer/tasks-white.svg') no-repeat center center;
        }
    }
    .settingsMenu {
        .icon {
            background: url('assets/icons/footer/settings-white.svg') no-repeat center center;
        }
    }
    .calendarMenu.tabMenuLinkActive {
        .icon {
            background: url('assets/icons/footer/calendar-green.svg') no-repeat center center;
        }
    }
    .tasksMenu.tabMenuLinkActive {
        .icon {
            background: url('assets/icons/footer/tasks-green.svg') no-repeat center center;
        }
    }
    .settingsMenu.tabMenuLinkActive {
        .icon {
            background: url('assets/icons/footer/settings-green.svg') no-repeat center center;
        }
    }
}

.header-md:after, .footer-md:before {
    background-image: none !important;
}

.addEventModal {
    ion-content{
        --background: #09121F;
        //--background: rgba(9, 18, 31, .9);

        ion-item {
            --background: transparent;
            --border-color: #86C3DF;
            color: $whiteSmoke;

            ion-label {
                font-size: 12px !important;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

.addEventPage {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    //height: 100vh;
    z-index: 11;
    overflow: auto;

    .bgAddEvent {
        //background: #09121F;
        background: $blueDarkTwo;
        //-webkit-filter: blur(10px);
        //filter: blur(10px);
        position: absolute;
        width: 100%;
        height: 100%;
        //opacity: .95;
    }

    // #inputStart, #inputEnd {
    //     font-size: 14px !important;
    //     --font-size: 14px !important;
    //     --font: 400 14px system-ui !important;
    // }
}

.formAlert {
    width: 100%;
    margin-top: 5px;
    color: indianred;
    font-size: 12px;
    font-weight: bold;
}



//:root{--gray:#999;--blue:#0074d9;--color:#333;--background-color:#fff;--border:1px solid #eee}.picker{background-color:rgba(0,0,0,.5);color:#333;color:var(--color);direction:ltr;display:none;font-size:1rem;line-height:1.5;overflow:hidden;-ms-touch-action:none;touch-action:none;-webkit-transition:opacity .15s;transition:opacity .15s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.picker-fixed{bottom:0;left:0;position:fixed;right:0;top:0;z-index:1986}.picker-fixed>.picker-dialog{bottom:-100%;left:0;max-height:100%;position:absolute;right:0;-webkit-transition:bottom .3s;transition:bottom .3s}.picker-fixed .picker-header{display:block}.picker-fixed .picker-footer{display:table}.picker-open{display:block;opacity:0}.picker-opened{opacity:1}.picker-opened>.picker-dialog{bottom:0}.picker-dialog{background-color:#fff;background-color:var(--background-color);border:1px solid #eee;border:var(--border)}.picker-header{border-bottom:1px solid #eee;border-bottom:var(--border);display:none;padding:.875rem 1.25rem;position:relative}.picker-title{font-size:1.125rem;font-weight:500;line-height:1.25rem;margin:0}.picker-close{background-color:rgba(0,0,0,0);border-width:0;color:#999;color:var(--gray);cursor:pointer;font-size:1.75rem;height:3rem;opacity:.75;padding:0;position:absolute;right:0;top:0;width:3rem}.picker-close:focus,.picker-close:hover{opacity:1;outline:none}.picker-body{overflow:hidden}.picker-grid{display:table;table-layout:fixed;width:100%}.picker-cell{display:table-cell;position:relative}.picker-cell:after,.picker-cell:before{content:"";display:block;left:0;position:absolute;right:0;z-index:3}.picker-cell:before{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,0)),to(rgba(0,0,0,.05)));background-image:linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,.05));bottom:50%;margin-bottom:1rem;top:0}.picker-cell:after{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.05)));background-image:linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.05));bottom:0;margin-top:1rem;top:50%}.picker-cell+.picker-cell{border-left:1px solid #eee;border-left:var(--border)}.picker-headers .picker-cell:before{margin-bottom:0}.picker-headers .picker-cell:after{margin-top:2rem}.picker-single:not(.picker-controls):not(.picker-headers) .picker-cell:after,.picker-single:not(.picker-controls):not(.picker-headers) .picker-cell:before{display:none}.picker-cell__header{color:#999;color:var(--gray);font-size:.875rem;font-weight:500;line-height:1.5rem;margin:0;overflow:hidden;padding:.25rem .5rem;text-align:center;text-overflow:ellipsis;white-space:nowrap}.picker-cell__control{cursor:pointer;height:2rem;padding:.25rem .5rem;position:relative;z-index:4}.picker-cell__control:before{border:0 solid #ccc;content:"";display:block;height:.5rem;left:50%;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%) rotate(-45deg);-ms-transform:translate(-50%,-50%) rotate(-45deg);transform:translate(-50%,-50%) rotate(-45deg);width:.5rem}.picker-cell__control:hover:before{border-color:var(--primary)}.picker-cell__control--prev:before{border-right-width:1px;border-top-width:1px;margin-top:2px}.picker-cell__control--next:before{border-bottom-width:1px;border-left-width:1px;margin-bottom:2px}.picker-cell__body{overflow:hidden;position:relative}.picker-cell__body:after,.picker-cell__body:before{content:"";height:2rem;left:0;position:absolute;right:0;z-index:1}.picker-cell__body:before{background-image:-webkit-gradient(linear,left bottom,left top,from(hsla(0,0%,100%,0)),to(#fff));background-image:linear-gradient(0deg,hsla(0,0%,100%,0),#fff);top:0}.picker-cell__body:after{background-image:-webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,0)),to(#fff));background-image:linear-gradient(180deg,hsla(0,0%,100%,0),#fff);bottom:0}.picker-single .picker-cell__body:after,.picker-single .picker-cell__body:before{display:none}.picker-list{list-style:none;margin:-2rem 0;padding:0;position:relative}.picker-item{color:#999;color:var(--gray);padding:.25rem .5rem;text-align:center;white-space:nowrap}.picker-picked{color:#0074d9;color:var(--blue);font-size:1.125em;line-height:1.5rem}.picker-footer{border-top:1px solid #eee;border-top:var(--border);display:none;width:100%}.picker-cancel,.picker-confirm{background-color:rgba(0,0,0,0);border-width:0;cursor:pointer;display:table-cell;font-size:1rem;padding:.75rem 1rem;width:50%}.picker-cancel:focus,.picker-cancel:hover,.picker-confirm:focus,.picker-confirm:hover{background-color:#fcfcfc;outline:none}.picker-confirm{color:#0074d9;color:var(--blue)}

#calendarPage {
    .table {
        width: 98% !important;
        max-width: 98% !important;
        td, th {
            border: none !important;
            color: $whiteSmoke;
        }
        .text-muted {
            color: #777 !important;
            opacity: .7;
        }
        th {
            //background: darkslategray;
            //background: #2B4E5E;
        }
        td {
            // padding: 4%;
            // border-radius: 50%;
        }
    }

    .monthview-primary-with-event {
        //background-color: darkslategray;
        background-color: #2B4E5E;
    }
    
    .monthview-selected {
        //background-color: transparent;
        //background-color: $linkBlueClear;
        background-color: #50E3CF;
    }
    .monthview-current {
        background-color: whitesmoke;
        color: $linkBlueClear2 !important;
    }

    .monthview-primary-with-event.monthview-selected {
        //background-color: #46C4B5;
        background-color: #50E3CF;
        color: whitesmoke !important;
    }

    .table-bordered{
        border: none !important;
    }

    .event-detail-container {
        border: none !important;
    }
}

.calendarView {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#monthViewCalendarCustom {
    // position: relative;
    // display: flex;
    // flex-flow: column;
    //flex: 1 0 auto;
    // justify-content: space-between;
    // height: 90%;
    // bottom: 0;
    // top: 0;
    // overflow: auto;
    
}

// .monthview-container:first-child {
//         height: 100%;
//         display: flex;
//         flex-flow: column;
//         flex: 1 0 auto; 
// }

@media screen and (min-width: 1023px) {

    .wrapTodayEvents{
    
        .todayOverflow {
            justify-content: center;
            align-content: flex-start;
        }
    }

    .todayEvent {
        width: 30% !important;
        margin: 1% !important;
    }
}

