/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

 $blueSemiDark: #193354;
 $whiteSmoke: whitesmoke;
 $blueDark: #09121F;
 $linkBlueClear: #86C3DF; 
 $linkBlueClear2: #0cd1e8; 
 $modalDarkBg: #09121F;
 $footerBg: #3A404A;
 $blueTasks: #2A6682;
 $blueDarkTwo: #173847;
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "app/add-event/picker.min.css";

.swiper-pagination-bullet-active {
    background: whitesmoke !important;
}

#todayPage, #calendarPage, #tasksPage, .eventDetailScreen, #settingsPage {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

.button-solid.activated, .button-solid {
    --box-shadow: none !important;
}

#dayViewCalendar {
    ion-slides {
        display: none !important;
    }

    .monthview-container {
        height: initial !important;
    }
}

ion-toolbar {
    --background: #173847 !important;
    --border-width: 0 !important;
    --border-color: none !important;
    color: $whiteSmoke;

    ion-title {
        color: $whiteSmoke !important;
    }
}

ion-backdrop {
    --backdrop-opacity: .25 !important;
}

ion-item-option, ion-activated {
    --background: none !important;
    --ion-item-background-activated: none;
    --background-activated: none;
    background: none;
}


// .popover-viewport{
//     --width: 140px !important;

//     button {
//         width: 80%;
//         /* border-bottom: 0; */
//         text-transform: uppercase;
//         font-size: 16px;
//         font-weight: 500;
//         color: #444;
//     }

//     button:last-of-type {
//         border: 0 !important;
//     }

//     .input-wrapper {
//         justify-content: right !important;
//     }
// }
.addEventBtn {
    img {
        max-height: 24px;
        transition: ease-in-out;
        transition-duration: .35s;
    }

    span {
        font-size: 50px;
        font-weight: lighter;
        transition: ease-in-out;
        transition-duration: .35s;
    }

    .openAddEvent {
        transform: rotate(0deg);
        color: #0cd1e8;
        //transition: 1 ease-in-out;
    }
    .closeAddEvent {
        transform: rotate(45deg);
        color: aquamarine;
        //transition: 1 ease-in-out;
        
    }
}

#mainFooter {
    background:  $blueTasks;
    border: none !important;
    height: 50px;
    //opacity: .9;

    ion-grid {
        padding: 0;
    }

    ion-col {
        text-align: center;
    }

    .tabMenuLink {
        font-size: 11px;
        //color: $linkBlueClear2;
        color: $whiteSmoke;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -.5px;
        display: flex;
        flex-flow: column;
        align-items: center;

        .icon {
            width: 25px;
            height: 25px;
        }
    }
    
    .tabMenuLinkActive {
        color: #50E3C2;
        font-weight: bold;
    }

    .calendarMenu {
        .icon {
            background: url('assets/icons/footer/calendar-white.svg') no-repeat center center;
        }
    }
    .tasksMenu {
        .icon {
            background: url('assets/icons/footer/tasks-white.svg') no-repeat center center;
        }
    }
    .settingsMenu {
        .icon {
            background: url('assets/icons/footer/settings-white.svg') no-repeat center center;
        }
    }
    .calendarMenu.tabMenuLinkActive {
        .icon {
            background: url('assets/icons/footer/calendar-green.svg') no-repeat center center;
        }
    }
    .tasksMenu.tabMenuLinkActive {
        .icon {
            background: url('assets/icons/footer/tasks-green.svg') no-repeat center center;
        }
    }
    .settingsMenu.tabMenuLinkActive {
        .icon {
            background: url('assets/icons/footer/settings-green.svg') no-repeat center center;
        }
    }
}

.header-md:after, .footer-md:before {
    background-image: none !important;
}

.addEventModal {
    ion-content{
        --background: #09121F;
        //--background: rgba(9, 18, 31, .9);

        ion-item {
            --background: transparent;
            --border-color: #86C3DF;
            color: $whiteSmoke;

            ion-label {
                font-size: 12px !important;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

.addEventPage {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    //height: 100vh;
    z-index: 11;
    overflow: auto;

    .bgAddEvent {
        //background: #09121F;
        background: $blueDarkTwo;
        //-webkit-filter: blur(10px);
        //filter: blur(10px);
        position: absolute;
        width: 100%;
        height: 100%;
        //opacity: .95;
    }

    // #inputStart, #inputEnd {
    //     font-size: 14px !important;
    //     --font-size: 14px !important;
    //     --font: 400 14px system-ui !important;
    // }
}

.formAlert {
    width: 100%;
    margin-top: 5px;
    color: indianred;
    font-size: 12px;
    font-weight: bold;
}

#calendarPage {
    .table {
        width: 98% !important;
        max-width: 98% !important;
        td, th {
            border: none !important;
            color: $whiteSmoke;
        }
        .text-muted {
            color: #777 !important;
            opacity: .7;
        }
        th {
            //background: darkslategray;
            //background: #2B4E5E;
        }
        td {
            // padding: 4%;
            // border-radius: 50%;
        }
    }

    .monthview-primary-with-event {
        //background-color: darkslategray;
        background-color: #2B4E5E;
    }
    
    .monthview-selected {
        //background-color: transparent;
        //background-color: $linkBlueClear;
        background-color: #50E3CF;
    }
    .monthview-current {
        background-color: whitesmoke;
        color: $linkBlueClear2 !important;
    }

    .monthview-primary-with-event.monthview-selected {
        //background-color: #46C4B5;
        background-color: #50E3CF;
        color: whitesmoke !important;
    }

    .table-bordered{
        border: none !important;
    }

    .event-detail-container {
        border: none !important;
    }
}

.calendarView {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#monthViewCalendarCustom {
    // position: relative;
    // display: flex;
    // flex-flow: column;
    //flex: 1 0 auto;
    // justify-content: space-between;
    // height: 90%;
    // bottom: 0;
    // top: 0;
    // overflow: auto;
    
}

// .monthview-container:first-child {
//         height: 100%;
//         display: flex;
//         flex-flow: column;
//         flex: 1 0 auto; 
// }

.allContentWrapper {
    // max-width: 1200px;
    // width: 100%;
    // height: 100%;
    // margin: 0 auto;
}

@media screen and (min-width: 1023px) {

    .wrapTodayEvents{
    
        .todayOverflow {
            justify-content: center;
            align-content: flex-start;
        }
    }

    .todayEvent {
        width: 75% !important;
        margin: 1% auto !important;
        padding: 0% !important;
    }

    .moreInfoEvent {
        margin: 1vw;
    }

    .todayEventCalendar {
        width: 75% !important;
        padding: 1% !important;
        margin: .5% auto !important;
    }

    #calendarPage {
        .table {
            width: 75% !important;
        }
    }
}

@media screen and (max-height: 690px) {

    .imgNoEvents {
        img {
            max-height: 170px;
        }
    }
    .table {
        tr {
            td {
                line-height: 15px !important;
            }
            th {
                small {
                    font-size: 70%;
                }
            }
        }
    }

    .monthViewHeader {
        height: 30px;
    }

    .card-content-ios {
        padding-bottom: 5px !important;
    }

    .addEventPage {
        ion-input, ion-textarea, ion-datetime {
            margin-top: 0 !important;
        }
        ion-label {
            margin-bottom: 0;
        }
    }
}
