<ion-header>
  <ion-toolbar mode="ios">
    
      <!-- <ion-menu-toggle autoHide="false">
        <ion-button class="openMenu" color="clear" clear>
            <img src="../../assets/icons/customMenu.svg" />
        </ion-button>
      </ion-menu-toggle> -->
    <ion-title *ngIf="!showAddEventComponent && !eventSelected">Hi {{personaName}}</ion-title>
    <ion-title *ngIf="showAddEventComponent && !eventIsEditing">Add New Event</ion-title>
    <ion-title *ngIf="showAddEventComponent && eventIsEditing">Edit Event</ion-title>
    
    <ion-buttons slot="end">
    <ion-button *ngIf="!toDosPage && !eventSelected" slot="end" class="addEventBtn" color="clear" clear (click)="openAddEvent()">
      <!-- <img [ngClass]="showAddEventComponent ? 'closeAddEvent' : 'openAddEvent'" src="../../assets/icons/plusAddEvent.png" /> -->
      <span [ngClass]="showAddEventComponent ? 'closeAddEvent' : 'openAddEvent'">+</span>
    </ion-button>
    <ion-button *ngIf="toDosPage && !taskIsOpen" slot="end" class="addEventBtn" color="clear" clear (click)="createToDoList()">
      <span [ngClass]="createNewToDoList ? 'closeAddEvent' : 'openAddEvent'">+</span>
    </ion-button>
    <ion-button *ngIf="toDosPage && taskIsOpen" slot="end" class="addEventBtn" color="clear" clear (click)="closeTaskOpen()">
      <span [ngClass]="taskIsOpen ? 'closeAddEvent' : 'openAddEvent'">+</span>
    </ion-button>
    </ion-buttons>

    <div class="calendarRow flexRow" *ngIf="eventSelected">
      <!-- <div class="imgCalendarName">
        <img src="assets/icons/calendar.svg" />
      </div> -->
      <div class="tagCircleColor" [style.background]='event.tagColor'></div>
      <h1 class="calendarName">{{event.tag}}</h1>
    </div>

    <ion-buttons slot="end" *ngIf="eventSelected" class="btnsHeaderEventSelected">
      <ion-button class="addEventBtn" color="clear" clear (click)="deleteEventSelected(event)">
        <img src="assets/icons/delete.svg" />
      </ion-button>
      <ion-button class="addEventBtn" color="clear" clear (click)="editEventSelected(event)">
        <img src="assets/icons/editWhite.svg" />
      </ion-button>
      <ion-button class="addEventBtn" color="clear" clear (click)="closeEventSelected()">
        <span [ngClass]="eventSelected ? 'closeAddEvent' : 'openAddEvent'">+</span>
      </ion-button>
    </ion-buttons>


    <!-- <ion-button *ngIf="eventSelected" slot="end" class="addEventBtn" color="clear" clear (click)="closeEventSelected()">
      <span [ngClass]="eventSelected ? 'closeAddEvent' : 'openAddEvent'">+</span>
    </ion-button> -->
  
  </ion-toolbar>
  <ion-toolbar *ngIf="calendarPage && !eventSelected && !showAddEventComponent || todayPage && !eventSelected && !showAddEventComponent">
    <div class="calendarSegment">
      <div class="btnSegment" [ngClass]="{'segmentLinkActive': todayPage }">
        <a  (click)="changeScreen('today')">Today</a>
      </div>
      <div class="btnSegment" [ngClass]="{'segmentLinkActive': calendarPage }">
        <a  (click)="changeScreen('calendar')">Calendar</a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="homePage" scrollY="false">

<!-- <div class="backBg"></div> -->

  <!-- <ion-button (click)="login()">Login</ion-button>
  <ion-button (click)="loginBlock()">Login Block</ion-button>
  <ion-button (click)="showProfileFirst()">Profile Block</ion-button>
  <ion-button (click)="loadEvents()">Events</ion-button> -->
  
  <div id="todayPage" *ngIf=todayPage>
    <!-- <div class="todayBg"></div> -->
    <div class="HomeInfoWrap">
    

    <ng-template #todayScreenTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
      
      <div class="wrapTodayEvents" *ngIf="selectedDate?.events.length >= 1">
        <div class="todayAndCalendar">
          <div class="dateMonth flexCol">
            <div class="colRowDay">
              <span class="todayTextDay">{{textDay}}</span>
              <span class="todayTextMonth">{{textMonth}}</span>
            </div>
            <div class="colNumDay">
              <span class="todayNumberDay">{{numberDay}}</span>
            </div>
          </div>
        </div>
        <div class="todayOverflow">
          <div class="todayEvent" [style.background]='event.tagColor' *ngFor="let event of selectedDate?.events" (click)="onEventSelected(event)">
            <div class="hsDetail"  *ngIf='event.allDay'><h4 class=" allDayTxt">All day</h4> </div>
            <div class="hsDetail"  *ngIf='!event.allDay'><h4 class=" allDayTxt">{{event.startTime|date: 'HH:mm'}} - {{event.endTime|date: 'HH:mm'}}</h4> </div>
            <span class="event-detail">  {{event.title}}</span>
            <div class="moreInfoEvent">+</div>
          </div>
        </div>
      </div>

      <div class="todayNoEventsWrap" *ngIf="selectedDate?.events.length == 0">
        <div class="todayAndCalendar">
          <div class="dateMonth flexCol">
            <div class="colRowDay">
              <span class="todayTextDay">{{textDay}}</span>
              <span class="todayTextMonth">{{textMonth}}</span>
            </div>
            <div class="colNumDay">
              <span class="todayNumberDay">{{numberDay}}</span>
            </div>
          </div>
        </div>
        <div class="todayNoEvents">
          <h1>Hi {{personaName}},</h1>
          <h2> No events for you today… </h2>

          <ion-button class="btnCreateEvent" fill="none" clear (click)="openAddEvent()">
            + Add new Event
          </ion-button>
          
        </div>
        <div class="imgNoEvents">
          <img src="assets/bgs/loginCreateEvents.svg" />
        </div>
      </div>
    
      
    </ng-template>
  
    <calendar id="dayViewCalendar"
      [eventSource]="eventSource" 
      [calendarMode]="calendar.mode" 
      [currentDate]="calendar.currentDate"
      [monthviewEventDetailTemplate]="todayScreenTemplate"
      [formatMonthTitle]="''"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      startHour="0"
      endHour="24"
      step="30"
      startingDayWeek="1">
    </calendar>

    </div>
  </div>

  <div id="calendarPage" *ngIf=calendarPage>
    <div class="calendarView">
      <div class="monthViewHeader">
        <div class="backMonth">
          <ion-button fill="clear" (click)="backMonth()">
            <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
        <div class="titleMonth">
          <h1 class="calendarTitileHeader">{{ viewTitle }}</h1>
        </div>
        <div class="fwMonth">
          <ion-button fill="clear" (click)="nextMonth()">
            <ion-icon name="arrow-forward-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </div>
      <calendar id="monthViewCalendarCustom"
        [eventSource]="eventSource" 
        [calendarMode]="calendar.mode" 
        [currentDate]="calendar.currentDate"
        [monthviewEventDetailTemplate]="calendarEventsTemplate"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
        startHour="0"
        endHour="23"
        step="30"
        startingDayWeek="1">
      </calendar>
    </div>

    <ng-template #calendarEventsTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
      <div class="wrapListEvents">
        <div class="listEventsOverflow">
          <div class="todayEventCalendar" [style.background]='event.tagColor' *ngFor="let event of selectedDate?.events" (click)="onEventSelected(event)">
            <div class="hsDetail"  *ngIf='event.allDay'><h4 class=" allDayTxt">All <br/>day</h4> </div>
            <div class="hsDetail"  *ngIf='!event.allDay'><h4 class=" allDayTxt">{{event.startTime|date: 'HH:mm'}} <br/> {{event.endTime|date: 'HH:mm'}}</h4> </div>
            <!-- <div class="hsDetail">{{event.startTime|date: 'HH:mm'}} <br/> {{event.endTime|date: 'HH:mm'}} </div> -->
            <span class="event-detail">  {{event.title}}</span>
          </div>
          <div class="todayNoEvents" *ngIf="selectedDate?.events.length == 0">
            <!-- <span class="no-events-label">{{noEventsLabel}}</span> -->
            <h2> No events for you today… </h2>
            <ion-button class="btnCreateEvent" fill="none" clear (click)="openAddEvent()">
              + Add new Event
            </ion-button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <div id="addEventScreen" class="addEventPage" *ngIf="showAddEventComponent">
    <div class="bgAddEvent"></div>
    <app-add-event></app-add-event>
  </div>
  
  <div id="loginScreen" class="loginPage" *ngIf="showLoginComponent">
    <app-login-block></app-login-block>
  </div>

  <div id="tasksPage" class="toDoPage" *ngIf="toDosPage">
    <app-todo-slider></app-todo-slider>
  </div>

  <div class="eventDetailScreen" *ngIf="eventSelected">   
    <div class="eventDetailWrapper">
      <div class="eventDetailBg defaultEventBg" [style.background]='event.tagColor'></div>
      <div class="eventInfo">
        <div class="eventInfoWrapper eventColorWhite">
          
          <div class="dateTime">
            {{event.startTime | date:'EEEE dd, MMM'}}
          </div>
          
          <div class="headerRow eventTimeRow flexRow" *ngIf='event.allDay === false'>
            <div class="colTime">
              <div class="titileTime">From</div>
              <div class="eventTime ">{{event.startTime|date: 'HH:mm'}}</div>
            </div>
            <div class="colTime">
              <div class="titileTime">To</div>
              <div class="eventTime ">{{event.endTime|date: 'HH:mm'}}</div>
            </div>
          </div>
          <div class="headerRow eventTimeRow allDayRow flexRow" *ngIf='event.allDay === true'>
            <h4 class="allDayTxt">All Day</h4>
          </div>
          <div class="eventDataWrapper flexRow">
            <div class="eventRow">
              <div class="eventTitle">
                <h1>{{event.title}}</h1>
              </div>
              <div class="eventDescription" *ngIf="event.desc != ''">
                <p>{{event.desc}}</p>
              </div>
            </div>
          </div>
              <div *ngIf="event.loc != ''" class="locationRow eventRow flexRow">
                <div class="locationTitle">
                  <div><img src="assets/icons/location.svg" /></div>
                  <div><h3>Location</h3></div>
                </div>
                <div class="eventLocation">
                  <p>{{event.loc}}</p>
                </div>
              </div>
        </div>      
      </div>
    </div>
  </div>
  
</ion-content>

<ion-footer id="mainFooter" *ngIf="!showAddEventComponent">
  <ion-grid>
    <ion-row>
      <!-- <ion-col> <a class="tabMenuLink" [ngClass]="{'tabMenuLinkActive': todayPage }" (click)="changeScreen('today')"> Today </a></ion-col> -->
      <ion-col> <a class="tabMenuLink calendarMenu" [ngClass]="{'tabMenuLinkActive': calendarPage || todayPage }" (click)="changeScreen('today')">
          <div class="icon"></div>
          <span>Calendar</span> 
         </a>
      </ion-col>
      <ion-col> <a class="tabMenuLink tasksMenu" [ngClass]="{'tabMenuLinkActive': toDosPage }" (click)="changeScreen('todos')"> 
        <div class="icon"></div>
          <span>Tasks</span> 
         </a>
        </ion-col>
      <ion-col> <a class="tabMenuLink settingsMenu" [ngClass]="{'tabMenuLinkActive': settingsPage }" (click)="changeScreen('settings')"> 
        <div class="icon"></div>
          <span>Settings</span> 
         </a>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
